@import '../config';

.header {
    width: 100%;
    height: $header-height;
    background: $gainsboro;

    .midbar {
        width: 960px;
        height: 100%;
        margin: 0 auto 0 auto;

        .appLogo, .header-btn {
            display: block;
            float: left;
            height: 100%;
            line-height: $header-height;
            width: auto;
            padding: 0 .5em 0 .5em;
            text-decoration: none;
            font-size: .9rem;
            border-left: 1px solid $gainsboro;
            border-right: 1px solid $gainsboro;
        }
        .appLogo {
            font-weight: bold;
            margin-left: .5rem;
            color: $royal-blue;
        }

        .header-btn {
            display: flex;
            margin-left: 1em;
            img {
                -ms-flex: none;
                -moz-flex: none;
                -webkit-flex: none;
                flex: none;
                width: 24px;
                height: 24px;
                margin-top: 6px;
            }
            p {
                -ms-flex: auto;
                -moz-flex: auto;
                -webkit-flex: auto;
                flex: auto;
                height: 100%;
                color: $font-base;
            }
        }
        
        .appLogo:hover {
            color: $cornflower-blue;
        }

        .header-btn:hover {
            background: $silver;
            border-left: 1px solid $dark-gray;
            border-right: 1px solid $dark-gray;
        }
    }
}