<div class="footer nomal-content">

    <div class="content center-block">

        <div class="left pull-left">
            <div class="left-bar pull-left">
                <ul class="pull-left">
                    <li *ngFor="let linker of linkers" class="pull-left">
                        <a  class="nomal-link"
                            title="{{linker.text}}"
                            routerLink="{{linker.link}}">
                            {{linker.text}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="left-bar no-select pull-left">
                <p>{{copyright}}</p>
            </div>
        </div>

        <div class="right no-select pull-left">
            <a *ngFor="let linkbox of linkboxes" class="box flex-row flex-column nomal-link pull-right" [target]="linkbox.target" href="{{linkbox.link}}" title="{{linkbox.title}}">
                <img src="{{linkbox.image}}" class="show-box flex-none circular center-block" />
                <span class="print-info flex-auto">{{linkbox.text}}</span>
            </a>
        </div>

    </div>

</div>
