@import '../config.scss';

$footer-height: 60px;

.footer {
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding-top: 20px;
    border-top: 1px solid $gainsboro;
    .content {
        max-width: $content-width;
        min-width: 900px;
        height: $footer-height;

        .left, .right {
            width: 50%;
            height: 100%;
            .left-bar {
                width:100%;
                height: $footer-height / 2;
                ul {
                    width:100%;
                    height: 100%;
                    color: $dim-gray;

                    li {
                        height: 100%;
                        line-height: $footer-height / 2;
                        list-style:none;
                        padding: 0 10px 0 10px;
                        a {
                            color: $font-base;
                            font-size: .8em;
                        }
                        a:hover {
                            color: $light-blue;
                        }
                    }
                }

                p {
                    height: 100%;
                    line-height: $footer-height;
                    padding-left: 10px;
                    color: $dim-gray;
                    font-size: .8em;
                }
            }
        }

        .right {
            $box-size: 1.8;
            .box {
                width: auto;
                height: 100%;
                margin-left: 1.5rem;

                .show-box {
                    width: $footer-height / $box-size;
                    height: $footer-height / $box-size;
                    margin-top: ($footer-height - ($footer-height / $box-size)) /2;
                }

                .print-info {
                    font-size: .7em;
                    margin-top: 5px;
                    color: $font-base;
                }
            }
            .box:hover {
                .print-info {
                    color: $light-blue;
                }
            }
        }
    }
}
