$white-smoke: #F5F5F5;
$gainsboro: #CCC;
$silver: #C0C0C0;
$dark-gray: #A9A9A9;
$dim-gray: #696969;
$tomato: #FF6347;
$coral: #FF7F50;
$forest-green: #228B22;
$spring-green: #00FF7F;
$olive-drab: #6B8E23;
$royal-blue: #4169E1;
$cornflower-blue: #6495ED;
$python-blue: #3572A5;
$pop-blue: #4F5D95;
$font-base: #333333;
$pop-dark: #1a1a1a;
$dark-blue: #24292e;
$light-yellow: #f1e05a;
$pop-purple: #563d7c;


$header-height: 36px;