$white-smoke: #F5F5F5;
$gainsboro: rgb(216, 216, 216);
$silver: rgb(201, 201, 201);
$dark-gray: #A9A9A9;
$dim-gray: #696969;
$tomato: #FF6347;
$coral: #FF7F50;
$forest-green: #228B22;
$spring-green: #00FF7F;
$olive-drab: #6B8E23;
$royal-blue: #4169E1;
$cornflower-blue: #6495ED;
$light-blue: rgb(128, 171, 245);
$python-blue: #3572A5;
$pop-blue: #4F5D95;
$font-base: #505050;
$pop-dark: #1a1a1a;
$darkblue: #24292e;
$fillter-blue: #2f363b;
$light-yellow: #f1e05a;
$pop-purple: #563d7c;


$header-height: 36px;
$content-width: 960px;
$font-size: 16px;