<div class="content">
    <div class="top">
        <h2 class="no-select">Fragment 用户通行证申请</h2>
    </div>

    <div class="step-bar">

        <div class="midbar flex-row center-block no-select">
            <div class="step pointer flex-auto step1" (click)="stepOneHandle()">
                <span class="step-radio circular pull-left" [class.light]="currentStep === 1">1</span>
                <p class="pull-left">填写电子邮件地址</p>
            </div>
            <div class="step pointer flex-auto step2" (click)="stepTwoHandle()">
                <span class="step-radio circular pull-left" [class.light]="currentStep === 2">2</span>
                <p class="pull-left">设置通行证密码</p>
            </div>
            <div class="step pointer flex-auto step3" (click)="stepThreeHandle()">
                <span class="step-radio circular pull-left" [class.light]="currentStep === 3">3</span>
                <p class="pull-left">完善基本信息</p>
            </div>
        </div>

    </div>

    <form class="form-content center-block" (ngSubmit)="postHandle()">
        <!-- start of step1 -->
        <div class="form nomal-content" [class.hide]="currentStep !== 1" [class.show]="currentStep === 1">
            <div class="form-group flex-row">
                <label for="signup-email" class="pointer flex-none">电子邮件</label>
                <input type="text"
                    id="signup-email"
                    name="email"
                    [(ngModel)]="formData.email"
                    placeholder="电子邮件地址"
                    class="flex-auto text-input"
                    (blur)="emailTouchedHandle()"
                    [class.error]="!fieldState.email"
                />
            </div>

            <div class="form-group flex-row">
                <label for="signup-identify" class="pointer flex-none">验证码</label>
                <input type="text"
                    id="signup-identify"
                    name="identify"
                    [(ngModel)]="formData.identify"
                    placeholder="验证码"
                    class="flex-auto text-input"
                    [class.error]="!fieldState.identify"
                />
                <div class="identify-image flex-auto">
                    <img src="#" class="pointer flex-auto" title="点击刷新验证码">
                </div>
            </div>

            <div class="form-group">
                <label class="hold"></label>
                <a  class="button center-block"
                    (click)="stepTwoHandle();"
                    href="javascript:void(0);"
                >
                    下一步
                </a>
            </div>
        </div>
        <!-- end of step1 -->

        <!-- start of step2 -->
        <div class="form nomal-content hide" [class.show]="currentStep === 2">
            <div class="form-group flex-row">
                <label for="signup-password" class="pointer flex-none">设置密码</label>
                <input type="password"
                    id="signup-password"
                    name="password"
                    [(ngModel)]="formData.password"
                    placeholder="设置登录密码"
                    class="flex-auto text-input"
                />
            </div>

            <div class="form-group flex-row">
                <label for="signup-repassword" class="pointer flex-none">确认密码</label>
                <input type="password"
                    id="signup-repassword"
                    name="repassword"
                    [(ngModel)]="formData.repassword"
                    placeholder="再次输入登录密码"
                    class="flex-auto text-input"
                />
            </div>

            <div class="form-group">
                <label class="hold"></label>
                <a class="button center-block" (click)="stepThreeHandle();" href="javascript:void(0);">下一步</a>
            </div>
        </div>
        <!-- end of step2 -->

        <!-- start of step3 -->
        <div class="form nomal-content hide" [class.show]="currentStep === 3">
            <div class="form-group flex-row">
                <label for="signup-nickname" class="pointer flex-none">取个名字吧</label>
                <input type="text"
                    id="signup-nickname"
                    name="nickname"
                    [(ngModel)]="formData.nickname"
                    placeholder="怎么称呼您"
                    class="flex-auto text-input"
                    maxlength="32"
                />
            </div>

            <div class="form-group flex-row">
                <label for="signup-gender" class="pointer flex-none">你的性别是</label>
                <!-- <select
                    class="flex-auto gender selector"
                    name="gender"
                    [(ngModel)]="formData.gender"
                >
                    <option value="0">女 性</option>
                    <option value="1">男 性</option>
                    <option value="2">保 密</option>
                </select> -->
                <div class="flex-auto gender" id="signup-gender">
                    <span>
                        <input
                            type="radio"
                            name="gender"
                            checked
                            id="signup-gender-0"
                            value="0"
                            class="pull-left"
                            [(ngModel)]="formData.gender"
                        />
                    </span>
                    <span>
                        <input
                            type="radio"
                            name="gender"
                            id="signup-gender-1"
                            value="1"
                            class="pull-left"
                            [(ngModel)]="formData.gender"
                        />
                    </span>
                    <span>
                        <input
                            type="radio"
                            name="gender"
                            id="signup-gender-2"
                            value="2"
                            class="pull-left"
                            [(ngModel)]="formData.gender"
                        />
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="hold"></label>
                <input type="submit" class="button center-block" value="填好了">
            </div>
        </div>
        <!-- end of step3 -->
    </form>
</div>
