<div class="content">
    <div class="top">
        <h2 class="no-select">Fragment 用户通行证申请</h2>
    </div>

    <div class="step-bar">

        <div class="midbar flex-row center-block no-select">
            <div class="step flex-auto step1">
                <span class="step-radio circular pull-left" [class.light]="currentStep === 1">1</span>
                <p class="pull-left">填写电子邮件地址</p>
            </div>
            <div class="step step2">
                <span class="step-radio circular pull-left" [class.light]="currentStep === 2">2</span>
                <p class="pull-left">设置通行证密码</p>
            </div>
            <div class="step step3">
                <span class="step-radio circular pull-left" [class.light]="currentStep === 3">3</span>
                <p class="pull-left">完善基本信息</p>
            </div>
        </div>

    </div>

    <div class="form-content center-block">
        <div class="form nomal-content" [class.hide]="currentStep !== 1" [class.show]="currentStep === 1">
            <div class="form-group flex-row">
                <label for="signup-email" class="pointer flex-none">电子邮件</label>
                <input type="text"
                    id="signup-email"
                    name="email"
                    [(ngModel)]="formData.email"
                    placeholder="电子邮件地址"
                    class="flex-auto"
                />
            </div>

            <div class="form-group flex-row">
                <label for="signup-identify" class="pointer flex-none">验证码</label>
                <input type="text"
                    id="signup-identify"
                    name="email"
                    [(ngModel)]="formData.identify"
                    placeholder="验证码"
                    class="flex-auto"
                />
                <div class="identify-image flex-auto">
                    <img src="#" class="pointer flex-auto" title="点击刷新验证码">
                </div>
            </div>

            <div class="form-group">
                <label class="hold"></label>
                <a class="button center-block" href="javascript:void(0);">下一步</a>
            </div>
        </div>
    </div>
</div>
