@import '../config.scss';

$step-radio-size: 35px;
$step-bar-height: 65px;
$middle-width: 60%;
$field-height: 40px;

.content {
    max-width: $content-width - $font-size;
    height: auto;
    padding: 0 .5rem 0 .5rem;

    .top {
        width: 100%;
        height: 100px;
        text-align: center;
        line-height: 100px;
        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            color: $python-blue;
        }
    }
    .step-bar {
        width: 100%;
        height: $step-bar-height;
        border-bottom: 1px solid $silver;

        .midbar {
            width: 60%;
            height: 100%;
            .step {
                width: 100%;
                height: $step-radio-size;
                margin: ($step-bar-height - $step-radio-size)/2 0 0 0;

                p {
                    width: auto;
                    padding-left: 10px;
                    height: 100%;
                    line-height: $step-radio-size;
                    color: $font-base;
                }

                .step-radio {
                    background: $dark-gray;
                    width: $step-radio-size;
                    height: $step-radio-size;
                    color: $white-smoke;
                    line-height: $step-radio-size;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: bold;
                }
                .light {
                    background: $royal-blue;
                }
            }
        }
    }

    .form-content {
        max-width: $middle-width;
        height: auto;
        padding-top: 60px;
        .form {
            .form-group {
                $label-width: 20%;
                width:80%;
                height: auto;
                margin: 20px auto 40px auto;

                .message-box {
                    width: 100%;
                    height: 1rem;
                    font-size: .9rem;
                    color: $lightred;
                    margin-left: $label-width;
                }

                .field-body {
                    input.error {
                        border-color: $lightred;
                    }

                    .greyset {
                        background: $dark-gray !important;
                    }

                    label {
                        line-height: $field-height;
                        width: $label-width;
                        font-weight: bold;
                        color: $font-base;
                    }
                    .text-input {
                        font-size: 1rem;
                        color: $font-base;
                        text-indent: 1rem;
                        border: 1px solid $silver;
                        border-left: 3px solid $cornflower-blue;
                    }
                    label, .text-input {
                        // margin-top: 10px;
                        height: $field-height;
                    }
                    #signup-identify {
                        width:50%;
                    }
                    .identify-image {
                        width:50%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: $field-height;
                            margin-top: (60px - $field-height) / 2;
                            margin-left: 5px;
                            border: 1px solid $white-smoke;
                        }
                    }
                    .button {
                        cursor: pointer;
                        width: 80%;
                        height: $field-height;
                        line-height: $field-height;
                        background: $cornflower-blue;
                    }
                    .gender {
                        $gender-height: 40px;
                        height: $gender-height;
                        span {
                          margin-right: 20px;
                          input {
                              width: $gender-height / 2;
                              height: $gender-height / 2;
                              margin-top: ($gender-height / 4);
                              cursor: pointer;
                          }
                          p {
                            width: auto;
                            height: 100%;
                            line-height: $gender-height;
                            text-indent: 5px;
                            font-size: .9rem;
                          }
                        }
                    }
                }
            }
        }
    }
}
