@import '../config.scss';

$step-radio-size: 35px;
$step-bar-height: 65px;
$middle-width: 60%;
$field-height: 40px;

.content {
    width: $content-width - $font-size;
    height: auto;
    padding: 0 .5rem 0 .5rem;

    .top {
        width: 100%;
        height: 100px;
        text-align: center;
        line-height: 100px;
        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            color: $python-blue;
        }
    }
    .step-bar {
        width: 100%;
        height: $step-bar-height;
        border-bottom: 1px solid $silver;

        .midbar {
            width: 60%;
            height: 100%;
            .step {
                width: 100%;
                height: $step-radio-size;
                margin: ($step-bar-height - $step-radio-size)/2 0 0 0;

                p {
                    width: auto;
                    padding-left: 10px;
                    height: 100%;
                    line-height: $step-radio-size;
                    color: $font-base;
                }

                .step-radio {
                    background: $dark-gray;
                    width: $step-radio-size;
                    height: $step-radio-size;
                    color: $white-smoke;
                    line-height: $step-radio-size;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: bold;
                }
                .light {
                    background: $royal-blue;
                }
            }
        }
    }

    .form-content {
        width: $middle-width;
        height: auto;
        padding-top: 60px;
        .form {
            .form-group {
                width:80%;
                height: 60px;
                margin: 20px auto 20px auto;

                label {
                    line-height: $field-height;
                    width: 20%;
                    font-weight: bold;
                    color: $font-base;
                }
                input {
                    font-size: 1rem;
                    color: $font-base;
                    text-indent: 1rem;
                    border: 1px solid $silver;
                    border-left: 3px solid $cornflower-blue;
                }
                label, input {
                    margin-top: 10px;
                    height: $field-height;
                }
                #signup-identify {
                    @extend input;
                    width:50%;
                }
                .identify-image {
                    width:50%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: $field-height;
                        margin-top: (60px - $field-height) / 2;
                        margin-left: 5px;
                        border: 1px solid $white-smoke;
                    }
                }
                .button {
                    width: 80%;
                    height: $field-height;
                    line-height: $field-height;
                    background: $cornflower-blue;
                }
            }
        }
    }
}
