@import './BasicStyle.scss';
@import './FunctionStyle.scss';

/**
 * 普通链接样式
 * $color string 字体颜色
 * $hoverColor string 字体 hover 颜色
 */
@mixin text-link($color, $hoverColor) {
    @extend .nomal-link;
    color: $color;
    &:hover {
        @if $hoverColor {
            color: $hoverColor;
        } @else {
            color: $color;
        }
    }
}

/**
 * 单行块 字体垂直居中
 * $height dom块高度
 */
@mixin single-row($height) {
    height: $height;
    line-height: $height;
}

/**
 * 圆形
 */
@mixin circular($size) {
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
    font-weight: bold;
}

/**
 * 下拉菜单
 * 格式: dropdown > ul > li > a
 * $listWidth 菜单宽度
 * $listTop 按钮高度
 * $linkColor a 标签字体颜色
 * $hoverLinkColor a标签 hover 颜色
 * $backColor 背景色
 * $hoverBackColor 背景hover色
 * $mode 模式，列表停靠的模式 (left/right/middle)
 */
@mixin dropdown($listWidth, $listTop, $linkColor, $hoverLinkColor, $backColor, $hoverBackColor, $mode: middle) {
    @extend .hidden;
    $list-top: $listTop;

    position: absolute;
    background: $backColor;
    @if $mode == right {
        left: 0;
    } @else if $mode == left {
        right: 0;
    } @else {
        left: -($listWidth / 2);
    }
    top: $list-top;
    width: $listWidth;
    border: nomalBorder($dark-gray);
    ul {
        @extend .full-width;
        li {
            @extend .full-width;
            @extend .nomal-list;
            font-size: .9rem;
            margin-top: 4px;
            a {
                @extend .full-width;
                @extend .nomal-block;
                @include single-row(2rem);
                @include text-link($linkColor, null);
                text-indent: 1rem;
            }
            a:hover {
                background: $hoverBackColor;
                color: $hoverLinkColor;
            }
        }
    }

    &:hover {
        @extend .nomal-block;
    }
}

/**
 * 表单组
 * $fieldWidth input组的宽度百分比(input组的宽度将影响label的宽度, 当设为100%时label将位于独立行)
 * $fieldHeight input和label组的高度
 * $marginSize 上下的边距
 */
@mixin forms($fieldWidth, $fieldHeight, $marginSize) {
    @extend .full-width;

    $labelWidth: 100% - $fieldWidth;

    .form-group {
        @extend .full-width;
        margin: verticalSideSpace($marginSize);

        .field-body {
            @extend .full-width;
            @extend .flex-row;
            input.error {
                border-color: $lightred;
            }

            label, .text-input, .radio-inputs {
                height: $fieldHeight;
                color: $font-base;
            }

            label {
                @extend .text-bold;
                @extend .flex-auto;
                line-height: $fieldHeight;
            }

            .text-input, .radio-inputs {
                width: $fieldWidth;
                font-size: 1rem;
            }

            .text-input {
                @extend .flex-none;
                text-indent: 1rem;
                border: nomalBorder($silver);
                border-left: 3px solid $cornflower-blue;
            }

            .radio-inputs, .radio-inputs .radio-group, .radio-inputs input[type='radio'], .radio-inputs p {
                float: left;
            }

            .radio-inputs {
                @extend .flex-none;

                .radio-group {
                    position: relative;
                    $radio-group-height: $fieldHeight / 2;
                    height: $radio-group-height;
                    width: 4em;
                    top: 50%;
                    margin-top: -$radio-group-height/2;

                    input[type='radio'] {
                        @extend .pointer;
                        $input-size: $radio-group-height * .7;
                        margin-top: $radio-group-height / 4;
                        width: $input-size;
                        height: $input-size;
                    }
                    p {
                        @include single-row($radio-group-height);
                        text-indent: 5px;
                        font-size: .9rem;
                    }
                }
            }
        }
        .message-box {
            @extend .full-width;
            @extend .text-nowrap;
            height: 1em;
            font-size: .9rem;
            color: $lightred;
            text-indent: 100% - $fieldWidth;
        }

        .button {
            @extend .text-bold;
            @include single-row($fieldHeight);
            width: $fieldWidth;
            background: $cornflower-blue;
            color: #FFF;
            border: 0;
        }
    }
}